// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$bodyFont: 'Cabin';

body {
    font-family: $bodyFont;
	
    background-image: url("/images/eight_horns.png");
    background-repeat: repeat;

}

.fa-btn {
    margin-right: 6px;
}

.event-item, .event-item-horizontal{
	background-color:#ffffff;
	margin-bottom:25px;
	padding-top:15px;
	padding-bottom:15px;
}

.event-item{
	min-height:550px;
}

.btnBackToEvents{
	padding-top:25px;
	padding-bottom:25px;
}

.btnBackToEvents a{
	padding:15px 25px 15px 25px;
	margin-top:25px;
	color:#ffffff;
	background-color:blue;
}

.event-item-image{
	height:210px;
}

h1, h2, h3{
	text-transform: uppercase;
}

.carousel-inner .item{
	height:300px;
	overflow:hidden;
}

.carousel-inner .item img{
	width:100%;
}

.carousel{
	margin-bottom:25px;
}